<!DOCTYPE html>
<html lang="en">

  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="text-center mt-5">
      <h3>Uh oh...An error occurred.</h3>
    </div>
  </body>

</html>
